html {
    background-color: rgba(0, 0, 255, 0.287);
    font-family: poppins, monospace;
}

body {
    display: grid;
    min-height: 100vh;
    place-content: center;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#container div {
    min-width: 25vw;
    background-color: white;
    aspect-ratio: 1;
    margin: 1em;
    border-radius: 0.7em;
}

#container div {
    transition-duration: 0.5s;
}

#container:hover div {
    transition-duration: 0.5s;
    filter: blur(1em);
}

#container div {
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: blue;
}

#container div:hover {
    transition-duration: 0.5s;
    filter: blur(0) !important;
    background-color: blue;
    transform: scale(1.2);
    color: white;
}

#container div svg {
    height: 10vw;
    aspect-ratio: 1;
}

#container div span {
    margin-top: 0.3em;
    font-size: 1.5em;
    font-weight: 600;
}
